<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>MESSAGE: </strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        </button>
    </div>
    {% endfor %}
    <h3>Welcome to Signup/SIgnIn Page!</h3>
    {% if user.is_authenticated %}
    <h3>Hello {{f_name}}</h3>
    <button type="submit"><a href="/signout">SignOut</a></button>
    {% else %}
    <button type="submit"><a href="{% url 'signup' %}">SignUp</a></button>
    <button type="submit"><a href="/signin">SignIn</a></button>
    {% endif %}
</body>
</html>